<!DOCTYPE html>
<html>
<head>
	<title>Char Sortinator</title>
	<style type="text/css">
		body {
			background: whitesmoke;
		}
		#app {
			text-align: center;
			margin-top: 20%;
		}
	</style>
</head>
<body>
	<div id="app">
		<div>
			<h1>Please Enter a String</h1>
			<form action="/" method="POST" onSubmit='handler()'>
				<input type="text" name="string" id="input">
				<button>Submit</button>
			</form>
		</div>
		<div>
			<h1>The Result From Sorting</h1>
			<h3 id="result"><%= myString %></h3>
		</div>
	</div>

	<script>
		const handler = event => {
			event.preventDefault();
		};
	</script>

</body>
</html>