<!DOCTYPE html>
<html>
<head>
	<title>Char Sortinator</title>
</head>
<body>
	<div>
		<h1>Please Enter a String</h1>
		<input type="text" name="string" id="input">
		<button onClick="clickHandler()">Submit</button>
	</div>

	<script>
		const clickHandler = event => {
			let input = document.getElementById('input');
			console.log(event);
		};
	</script>
</body>
</html>